@import "reset";


main {
    width: 100%;
    height: 100vh;
    // border: 1px solid red;
    // margin: 100px auto; // 100% 확대는 margin 줄 필요 없음
    position: relative;
    overflow: hidden;

    .panel {
        position: absolute;
        top: 0%;
        left: 0%;
        display: flex;
    
        //anime에서 margin은 퍼센트 모션 처리 불가하므로 absolute의 left = 0 margin-left로 배치

        // 민지 이해 : 자식요소인 li태그가 모션값을 받기 위해 퍼센테이지를 기준으로 움직일 경우 Anime에서 막아놓은 것 때문에 에러가 뜸.
        // 이를 해결(우회)하기 위해 absolute positionig을 사용해서 위치 결정
        // width: 500%; // 부모요소는 100*패널 개수
        // height: 100%;
        li {
            // width: 20%; // 자식요소 100/패널 개수
            // height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;

            &:nth-of-type(1) {
                background-color: aqua;
            }
            &:nth-of-type(2) {
                background-color: lightgreen;
            }
            &:nth-of-type(3) {
                background-color: hotpink;
            }
            &:nth-of-type(4) {
                background-color: orange;
            }
            &:nth-of-type(5) {
                background-color: violet;
            }
        }
    }

    .btns {
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0px;
        display: flex;
        justify-content: space-evenly;

        li{
            cursor: pointer;
            width: 18%;
            height: 50px;
            border: 1px solid #111;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            border-radius: 25px;


            &.on {
                color : white;
                background: rgb(0,0,0,0.5);
            }
        }
    }
    }

    //.panel과 .btns는 CSS에서 서로 다르게 묶여야함